  
{% extends "layout.html" %}

{% block header %}

<!-- MDBootstrap Datatables  -->
<link href="{{ url_for('static', filename='datatables2.min.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='datatables2.min.js') }}"></script>

<script>
  $(document).ready(function () {
      $('#dtBasicExample').DataTable();
      $('.dataTables_length').addClass('bs-select');
  });
</script>

{% endblock header %}

{% block content %}
<div class="boxy mt-5">
  <table id="dtBasicExample" class="table">
    <thead>
      <tr>
        <th class="th-sm">User</th>
        <th class="th-sm">IP</th>
        <th class="th-sm">City</th>
        <th class="th-sm">Browser</th>
        <th class="th-sm">Platform</th>
        <th class="th-sm">Unix Time</th>
        <th class="th-sm">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
          <tr>
            <td>{{log['User']}}</td>
            <td>{{log['ip']}}</td>
            <td>{{log['City']}}</td>
            <td>{{log['Browser']}}</td>
            <td>{{log['Platform']}}</td>
            <td>{{log['Unix time']}}</td>
            <td>{{log['Date']}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}