{% extends "layout.html" %}

{% macro write(comment) -%}
  {%- if not comment.parent.all() -%}
    <div class='comment'>
      <div style="overflow: hidden;">
          <h5 style="float: left;"><img src="{{ url_for('static',filename='profile_pics/' + comment.commenter.image_file) }}" style="width: 40px; border-radius: 20px"> {{comment.commenter.username}}</h6>
          <h6 class='text-muted' style="margin-top: 12px; font-size: small; float: left;"> ~ {{comment.date_posted.strftime("%H:%M , %d-%m-%Y")}}</h6>  
          {% if comment.commenter == current_user %}
            <a class='btn btn-danger btn-sm m-2 ' style="float: left" href="{{ url_for('delete_comment', post_id=post.id, comment_id=comment.id) }}">Delete</a>
            <!-- <button type="button" class="btn btn-danger btn-sm" style="margin: 5px;" data-toggle="modal" data-target="#deleteCommentModal{{comment_issd}}">Delete</button> -->
          {% endif %}  
      </div>
      <p>{{comment.content}}</p>
      <a class='btn btn-secondary btn-sm' href="{{ url_for('comment_comment',post_id=post.id, comment_id=comment.id) }}">Reply</a> 
      {%- if comment.comments -%}
        {%- for comment in comment.comments.all() -%}
            {{- write_child(comment) -}}
        {%- endfor -%}
      {%- endif -%}
    </div>
  {%- endif %}
{%- endmacro %}

{% macro write_child(comment) -%}
  <div class='comment'>
    <div style="overflow: hidden;">
        <h5 style="float: left;"><img src="{{ url_for('static',filename='profile_pics/' + comment.commenter.image_file) }}" style="width: 40px; border-radius: 20px"> {{comment.commenter.username}}</h6>
        <h6 class='text-muted' style="margin-top: 12px; font-size: small; float: left;"> ~ {{comment.date_posted.strftime("%H:%M , %d-%m-%Y")}}</h6> 
        {% if comment.commenter == current_user %}
          <a class='btn btn-danger btn-sm m-2 ' style="float: left" href="{{ url_for('delete_comment', post_id=post.id, comment_id=comment.id) }}">Delete</a>
          <!-- <button type="button" class="btn btn-danger btn-sm" style="margin: 5px;" data-toggle="modal" data-target="#deleteCommentModal{{comment_issd}}">Delete</button> -->
        {% endif %}   
    </div>
    <p>{{comment.content}}</p>
    <a class='btn btn-secondary btn-sm' href="{{ url_for('comment_comment',post_id=post.id, comment_id=comment.id) }}">Reply</a> 
    {%- if comment.comments -%}
      {%- for comment in comment.comments.all() -%}
          {{- write_child(comment) -}}
      {%- endfor -%}
    {%- endif -%}
  </div>
{%- endmacro %}

{% block content %}
    <div class='boxy mb-5 mt-5'>
        <div class='border-bottom mb-4'>
            <a style="font-size: xx-large">{{post.title}}</a>
            <p class='text-muted' style="display: inline;">  ~  {{post.category}}</p>
            <p class="text-muted" style="display: inline;">  ~  {{post.date_posted.strftime("%H:%M , %d-%m-%Y")}}</p>
            {% if post.author == current_user %}
                <div style="display: inline">
                    <a class='btn btn-secondary btn-sm m-2' href="{{ url_for('update_post',post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-2" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
        </div>
        {% for para in post.content.split('\n') %}
            <p>{{ para }}</p>
        {% endfor %}    
        <div style="overflow: hidden;">
          <a class='btn btn-secondary btn-sm m-2' style="float: left" href="{{ url_for('comment_post',post_id=post.id) }}">Comment</a>
          <h4 style="float: right">Posted by ~ <img src="{{ url_for('static',filename='profile_pics/' + post.author.image_file) }}" style="width: 50px; border-radius: 10px"> {{post.author.username}}</h4>
        </div>  
        {% for comment in post.comments %}

          {{ write(comment) }}          
          <!-- Modal -->
          <!-- 
          <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteCommentModalLabel">Delete Post?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <form action="{{ url_for('delete_comment', post_id=post.id, comment_id=comment.id) }}" method="POST">
                    <input class='btn btn-danger' type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div> 
          -->
        {% endfor %}  
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input class='btn btn-danger' type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
    </div>
   
{% endblock content %}

